body{
margin:0;
}
#dark{
height:100%;
width:100%;
background-color:#000000;
position:fixed;
z-index:-1;
}
#dark *{
color:#ffffff
}
@keyframes cover {
    from {clip-path: inset(0px 0% 0px 0px);}
    to {clip-path: inset(0px 100% 0px 0px);}
}
.hiddenlink{
color: transparent; 
cursor:crosshair;
}
#light{
height:100%;
width:100%;
background-color:#ffffff;
position:fixed;
 clip-path: url(#myClip);
}
.changer{
height:5vw;
width:5vw;
}
a{
position: relative;
display: block;
right:0;
text-decoration:none;
color:#000000;
font-family: sans-serif;
text-align:right;
font-size:3vw;
margin-bottom:10px;

}
#links{
	position:fixed;
top: 40%;
     right: 10%;
     transform: translate(0%,-50%);
width:fit-content;

}

h1{
margin:0;
position: fixed;
     top: 40%;
     left: 10%;
     transform: translate(0%,-50%);
font-family: sans-serif;
font-size:5vw;
}